.container{
    width: 100%;
    min-height: 15%;
    bottom: 0;
    position: sticky;
    padding-top: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(255, 255, 255);
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.titleWrapper {
    display: flex;
    width: 35%;
    font-size: 1.1rem;
    color: #808080;
}


.btn {
    margin-right: 5px;
}